
            .logo-menu-wrapper{
            background-color : #00245b;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            line-height: 29px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;

            }
       